<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_nhom21_foreground"
        android:roundIcon="@mipmap/ic_nhom21_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appbansachbooknest"
        tools:targetApi="31">

        <activity android:name=".Activity.NotificationsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <!-- WelcomeActivity (Activity khởi động) -->
        <activity
            android:name=".Activity.Login_Register.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".Activity.Login_Register.LoginActivity"
            android:exported="true" />

        <!-- RegisterActivity -->
        <activity
            android:name=".Activity.Login_Register.RegisterActivity"
            android:exported="true" />

        <!-- MainEmployeeActivity -->
        <activity
            android:name=".Activity.Employee.MainEmployeeActivity"
            android:exported="false" />

        <!-- MainCustomerActivity -->
        <activity
            android:name=".Activity.Customer.MainCustomerActivity"
            android:exported="false" />

        <!-- EditBookActivity -->
        <activity
            android:name=".Activity.Employee.EditBookActivity"
            android:exported="false" />

        <!-- OrderListActivity -->
        <activity
            android:name=".Activity.Employee.OrderListActivity"
            android:exported="false" />

        <!-- CartActivity -->
        <activity
            android:name=".Activity.Customer.CartActivity"
            android:exported="false" />

        <!-- CustomerOrderActivity -->
        <activity
            android:name=".Activity.Customer.CustomerOrderActivity"
            android:exported="false" />

    </application>
</manifest>